{% extends 'users/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    {% if post.author == request.user %}
        <p><a href="{% url 'post_delete' slug=post.slug %}">Usuń post</a></p>
        <p><a href="{% url 'post_update' slug=post.slug %}">Edytuj post</a></p>
    {% endif %}

    <h1>{{ post.title }}</h1>
    <small>Autor: {{ post.author }} / {{ post.date_of_create }}</small>
    <p>{{ post.content }}</p>

    <h3>Dodaj komentarz:</h3>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Wyślij</button>
    </form>

    <h3>Komentarze:</h3>
    {% for comment in post.comment_set.all %}
        <p>{{ comment.content }}</p>
        <small>{{ comment.author }} / {{ comment.date_of_create }}</small>
    {% endfor %}
{% endblock %}