{% load static %}
{% load crispy_forms_tags %}

<h3>Komentarze:</h3>
{% for comment in post.comment_set.all %}
    {% if comment.comment == null %}
        <p>{{ comment.content }}</p>
        <small>{{ comment.author }} / {{ comment.date_of_create|date:"d E Y" }} / Polubienia: {{ comment.likes.all|length }}</small>
        <button type="button" id="{{ comment.id }}" class="showReplies btn btn-link" data-href="{% url 'comment_replies' comment.id %}">Pokaż odpowiedzi</button>
        <button type="button" id="{{ comment.id }}" class="showForm btn btn-link">Odpowiedz</button>
        <form action="{% url 'like_comment' comment_id=comment.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="comment_id" value="{{ comment.id }}">Lubię to</button>
        </form>
        <div class="replies" id="{{ comment.id }}" style="margin-left: 30px; display: none;">
            {% include 'blog/comment_replies.html' %}
        </div>
        <div id="{{ comment.id }}" style="display: none;" class="replyFormDiv">
            <h3>Dodaj odpowiedź:</h3>
            <form action="" method="POST" id="{{ comment.id }}" class="replyForm" data-url="{% url 'post_detail' slug=post.slug %}">
            {% csrf_token %}
            <input type="hidden" name="comment_id" value="{{ comment.id }}">
            {{ form|crispy }}
            <button type="button" class="replyBtn" id="{{ comment.id }}">Wyślij</button>
        </form>
        </div>
    {% endif %}
{% endfor %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
        <script src="{% static 'js/rate.js' %}"></script>
        <script src="{% static 'js/replies.js' %}"></script>
        <script src="{% static 'js/reply.js' %}"></script>
        <script src="{% static 'js/showForm.js' %}"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>