{% extends 'users/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    {% if post.author == request.user %}
        <p><a href="{% url 'post_delete' slug=post.slug %}">Usuń post</a></p>
        <p><a href="{% url 'post_update' slug=post.slug %}">Edytuj post</a></p>
    {% endif %}

    <h1>{{ post.title }}</h1>
    <small>Autor: {{ post.author }} / {{ post.date_of_create }}</small>
    <p>{{ post.content }}</p>

    <h3>Dodaj komentarz:</h3>
    <form action="" method="POST" id="commentForm" data-url="{% url 'post_detail' slug=post.slug %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="button" id="commentBtn">Wyślij</button>
    </form>

    <div class="comments">
        {% include 'blog/post_comments.html' %}
    </div>
{% endblock %}