{% load crispy_forms_tags %}

<h3>Dodaj komentarz:</h3>
    <form action="" method="POST" id="commentForm" data-url="{% url 'post_detail' slug=post.slug %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="button" id="commentBtn">Wyślij</button>
    </form>

<h3>Komentarze:</h3>
{% for comment in post.comment_set.all %}
    {% if comment.comment == null %}
        <p>{{ comment.content }}</p>
        <small>{{ comment.author }} / {{ comment.date_of_create|date:"d E Y" }}</small>
        <button type="button" id="{{ comment.id }}" class="showReplies btn btn-link" data-href="{% url 'comment_replies' comment.id %}">Pokaż odpowiedzi</button>
        <button type="button" id="{{ comment.id }}" class="showForm">Odpowiedz</button>
        <div class="replies" id="{{ comment.id }}" style="margin-left: 30px; display: none;">
            {% include 'blog/comment_replies.html' %}
        </div>
        <div id="{{ comment.id }}" style="display: none;" class="replyFormDiv">
            <h3>Dodaj odpowiedź:</h3>
            <form action="" method="POST" id="{{ comment.id }}" class="replyForm" data-url="{% url 'post_detail' slug=post.slug %}">
            {% csrf_token %}
            <input type="hidden" name="comment_id" value="{{ comment.id }}">
            {{ form|crispy }}
            <button type="button" class="replyBtn" id="{{ comment.id }}">Wyślij</button>
        </form>
        </div>
    {% endif %}
{% endfor %}