{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <div>
            <ul><a href="{% url 'home' %}">FILMBASE</a></ul>
            {% if user.is_authenticated %}
                <ul><a href="{% url 'logout' %}">Wyloguj się</a></ul>
                <ul><a href="{% url 'create_person' %}">Stwórz osobę</a></ul>
                <ul><a href="{% url 'create_movie' %}">Stwórz film</a></ul>
            {% else %}
                <ul><a href="{% url 'register' %}">Zarejestruj się</a></ul>
                <ul><a href="{% url 'login' %}">Zaloguj się</a></ul>
            {% endif %}            
        </div>
        <div>
            <form action="{% url 'search' %}" method="GET">
                <input type="text" name="search" placeholder="Szukaj...">
            </form>
        </div>
        {% block content %}
        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/rate.js' %}"></script>
    </body>
</html>