<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div>
            <ul><a href="{% url 'home' %}">FILMBASE</a></ul>
            {% if user.is_authenticated %}
                <ul><a href="{% url 'logout' %}">Wyloguj się</a></ul>
            {% else %}
                <ul><a href="{% url 'register' %}">Zarejestruj się</a></ul>
                <ul><a href="{% url 'login' %}">Zaloguj się</a></ul>
            {% endif %}            
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>