{% extends 'users/base.html' %}

{% block title %}{{ person.full_name }}{% endblock %}

{% block content %}
    <h2>{{ person.full_name }}</h2>
    <p>{{ person.date_of_birth }}</p>
    <p>Ocena: {{ person.get_average }}</p>

    <form action="" method="POST">
        {% csrf_token %}
        {% if my_rate %}
            <p>Twoja ocena: {{ my_rate.choice }}</p>
        {% endif %}
        {{ form.as_p }}
        <button type="submit">Oceń</button>
    </form>

    <p><a href="{% url 'create_topic' slug=person.slug %}">Stwórz temat</a></p>

    {% for topic in person.topic_set.all %}
        <a href="{% url 'detail_topic' slug=person.slug topic_slug=topic.slug %}">{{ topic.title }}</a><p></p>
    {% endfor %}
{% endblock %}