{% extends 'users/base.html' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
    <h2>{{ movie.title }}</h2>
    <p>{{ movie.description }}</p>
    <p>{{ movie.date_of_realease }}</p>
    <p>{{ movie.kind }}</p>
    <p>Ocena:<div id="average">{{ movie.get_average }}</div></p>
    
    {% if user.is_authenticated %}
        <form action="" method="POST" id="rateForm" data-url="{% url 'detail_movie' slug=movie.slug %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="button" id="rateButton">Oceń</button>
        </form>
    {% endif %}

    <h3>Reżyseria</h3>
    {% for director in movie.directors.all %}
        <a href="{% url 'detail_person' slug=director.slug %}"><ul>{{ director }}</ul></a>
    {% endfor %}
    <h3>Scenariusz</h3>
    {% for scenarist in movie.scenarists.all %}
        <a href="{% url 'detail_person' slug=scenarist.slug %}"><ul>{{ scenarist }}</ul></a>
    {% endfor %}
    <h3>Obsada</h3>
    {% for actor in movie.actors.all %}
        <a href="{% url 'detail_person' slug=actor.slug %}"><ul>{{ actor }}</ul></a>
    {% endfor %}

    <p><a href="{% url 'create_topic' slug=movie.slug %}">Stwórz temat</a></p>

    {% for topic in movie.topic_set.all %}
        <a href="{% url 'detail_topic' slug=movie.slug topic_slug=topic.slug %}">{{ topic.title }}</a><p></p>
    {% endfor %}
{% endblock %}