{% extends 'users/base.html' %}

{% block title %}{{ person.full_name }}{% endblock %}

{% block content %}
    <h2>{{ person.full_name }}</h2>
    <p>{{ person.date_of_birth }}</p>
    <img src="{{ person.avatar.url }}" alt="" width="125" height="125">
    <p>Ocena: {{ person.get_average }}</p>

    {% if user.is_authenticated %}
        <form action="" method="POST" id="rateForm" data-url="{% url 'detail_person' slug=person.slug %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="button" id="rateButton">Oceń</button>
        </form>
    {% endif %}

    <h2>Aktor</h2>
    {% for movie in person.Starred_in.all %}
        <ul><a href="{% url 'detail_movie' slug=movie.slug %}">{{ movie.title }}</a></ul>
    {% endfor %}
    <h2>Reżyser</h2>
    {% for movie in person.Directed.all %}
        <ul><a href="{% url 'detail_movie' slug=movie.slug %}">{{ movie.title }}</a></ul>
    {% endfor %}
    <h2>Scenarzysta</h2>
    {% for movie in person.Wrote_the_script.all %}
        <ul><a href="{% url 'detail_movie' slug=movie.slug %}">{{ movie.title }}</a></ul>
    {% endfor %}

    <p><a href="{% url 'create_topic' slug=person.slug %}">Stwórz temat</a></p>

    {% for topic in person.topic_set.all %}
        <a href="{% url 'detail_topic' slug=person.slug topic_slug=topic.slug %}">{{ topic.title }}</a><p></p>
    {% endfor %}
{% endblock %}